.b1h, .b2h, .b3h, .b4h, .b2bh, .b3bh, .b4bh{font-size:1px; overflow:hidden; display:block;}
.b1h {height:1px; background:#334D66; margin:0 5px;}
.b2h, .b2bh {height:1px; background:#334D66; border-right:2px solid #334D66; border-left:2px solid #334D66; margin:0 3px;}
.b3h, .b3bh {height:1px; background:#334D66; border-right:1px solid #334D66; border-left:1px solid #334D66; margin:0 2px;}
.b4h, .b4bh {height:2px; background:#334D66; border-right:1px solid #334D66; border-left:1px solid #334D66; margin:0 1px;}
.b2bh, .b3bh, .b4bh {background: #334D66;}
.headh {background: #334D66; border-right:1px solid #334D66; border-left:1px solid #334D66;}
.headh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px;}
.contenth {border-right:1px solid #334D66; border-left:1px solid #334D66; background-color: #334D66;
}
.contenth div {margin-left: 12px; padding-top: 5px;}

.contentf {background: #ddd;}
.contentf div {margin-left: 0px;}

.b1f, .b2f, .b3f, .b4f{font-size:1px; overflow:hidden; display:block;}
.b1f {height:1px; background:#ddd; margin:0 5px;}
.b2f {height:1px; background:#ddd; margin:0 3px;}
.b3f {height:1px; background:#ddd; margin:0 2px;}
.b4f {height:2px; background:#ddd; margin:0 1px;}

.contentm {background: #ddd;}
.contentm div {margin-left: 0px;}

.lb1f, .lb2f, .lb3f, .lb4f{font-size:1px; overflow:hidden; display:block;}
.lb1f {height:1px; background:#fff; margin:0 5px;}
.lb2f {height:1px; background:#fff; margin:0 3px;}
.lb3f {height:1px; background:#fff; margin:0 2px;}
.lb4f {height:2px; background:#fff; margin:0 1px;}
     
.contentl {background: #fff;}
.contentl div {margin-left: 0px;}

.mb1f, .mb2f, .mb3f, .mb4f{font-size:1px; overflow:hidden; display:block;}
.mb1f {height:1px; background:#fff; margin:0 5px;}
.mb2f {height:1px; background:#fff; margin:0 3px;}
.mb3f {height:1px; background:#fff; margin:0 2px;}
.mb4f {height:2px; background:#fff; margin:0 1px;}
     
.contentm {background: #fff;}
.contentm div {margin-left: 0px;}